<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12 text-center mb-5">
      <h1>Manager</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mb-4">
      <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-large btn-primary" (click)="generatePlates()"  >
          Generate plates
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex mb-5">
      <div class="input-group mb-3">
        <input (change)="searchOrders($event)" type="text" class="form-control" placeholder="Search by order number press enter to search" aria-label="Search by order number" aria-describedby="basic-addon2">
      </div>
      <div class="input-group mb-3 w-25">
      <select (change)="onStatusChange($event)" class="form-select ms-3" aria-label="Default select example">
        <option selected>All</option>
        <option *ngFor="let option of options" [value]="option.id">{{ option.name }}</option>
      </select>
    </div>

    </div>
    <div class="col-12 mb-3">
      <div class="table-responsive">
      <table class="table caption-top">
        <caption>List of users</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="plates.length === 0" class="text-center">
            <td colspan="4">No plates available.</td>
          </tr>
          <!-- ng for plates-->
          <tr *ngFor="let plate of plates">
            <th scope="row">{{ plate.id }}</th>
            <td>{{ plate.dish.name }}</td>
            <td>{{ plate.dish.description }}</td>
            <td>{{ plate.status.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>

      <!-- paginate this table -->

    </div>
    <div class="col-12 d-flex justify-content-center">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [class.active]="currentPage === i + 1">
            <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
